body {
  font-family: 'Carter One', cursive;
}

input {
  &[type='radio'] {
    margin-left: 0.5em;
    margin-right: 0.5em;
  }
}

.card-header-title {
  font-family: 'Carter One', cursive;
  font-weight: normal;
}

.card-image img.cardimg {
  width:330px;
  height: 195px;
  object-fit: fill;
}

h2 {
  font-family: 'Carter One', cursive;
  color:white;
  text-align: center;
  font-size: 80px;
  font-weight: normal;
}

$navbar-background-color: #cccccc;


.navbarActivities a {
margin-right: 20px;
}

.summerActivities {
  width: 50%;
  border: 1px solid black;
  padding: 10px;
}

.winterActivities {
  width: 50%;
  border: 1px solid black;
  padding: 10px;
}

.logo {
  background-image: url('https://i.imgur.com/fmzzbn3.jpg');
  background-size: cover;
}

.summer-background-image {
  background-image: url('https://i.imgur.com/n3Tgtl1.jpg');
  background-size: cover;
  
}

.winter-background-image {
  background-image: url('https://i.imgur.com/iYfWXFV.jpg');
  background-size: cover;
  
}

.text-justified {
  text-align: justify;
}

.map-container {
  height: 400px;
}

@import '~bulma/bulma.sass';